/* login page and logout page  */

/* #text {
  height: 25px;
  border-radius: 5px;
  padding: 4px;
  border: solid thin #aaa;
  width: 100%;
}

#button {
  padding: 10px;
  width: 100px;
  color: rgb(7, 15, 239);
  background-color: rgb(183, 230, 173);
  border: none;
}

#box {
  background-color: #2b2f7f;
  margin: auto;
  width: 800px;
  padding: 20px;
} */
